.app {

    background: var(--dark-green);
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-evenly;
}

section {
    flex-grow: 1;
    text-align: center;
    margin: 1rem;
    max-width: 45%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}